/* ページ全体 */
body {
    background-color: #eef9ff;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
}

/* ヘッダー */
header {
    background-color: #cceeff;
    padding: 30px;
}

/* タイトル */
h1 {
    color: #3b6175;
    margin: 0;
}

/*  説明文 */
header p {
    color: #527383;
}

/* メイン部分 */
main {
    padding: 30px;
}

/* 見出し */
h2 {
    color: #3b6175;
}

/* 星座ボタン */
button {
    background-color: #ffffff;
    border: 2px solid #9dd5ed;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
}

/* ボタンの上に乗せた時　色変化 */
/* おひつじ座 */
button:nth-of-type(1):hover {
    background-color: #ffd6d6;
}

/* おうし座 */
button:nth-of-type(2):hover {
    background-color: #d9f2d9;
}

/* ふたご座 */
button:nth-of-type(3):hover {
    background-color: #fff2b8;
}

/* かに座 */
button:nth-of-type(4):hover {
    background-color: #d9f0ff;
}

/* しし座 */
button:nth-of-type(5):hover {
    background-color: #ffe0b2;
}

/* おとめ座 */
button:nth-of-type(6):hover {
    background-color: #e8ddff;
}

/* てんびん座 */
button:nth-of-type(7):hover {
    background-color: #ffd9ec;
}

/* さそり座 */
button:nth-of-type(8):hover {
    background-color: #e2d5ff;
}

/* いて座 */
button:nth-of-type(9):hover {
    background-color: #d6ecff;
}

/* やぎ座 */
button:nth-of-type(10):hover {
    background-color: #e5e5e5;
}

/* みずがめ座 */
button:nth-of-type(11):hover {
    background-color: #ccefff;
}

/* うお座 */
button:nth-of-type(12):hover {
    background-color: #d9e6ff;
}

/* 占いの結果 */
#result {
    background-color: #ffffff;
    border: 2px solid #9dd5ed;
    border-radius: 15px;
    width: 300px;
    margin: 30px auto;
    padding: 20px;
}

/* 占い結果の星座名 */
.seiza-name {
    font-size: 30px;
    font-weight: bold;
    color: #3b6175;
}

/* もう一度占うボタン */
#again {
    background-color: #cceeff;
    border: 2px solid #9dd5ed;
    border-radius: 15px;
    padding: 10px 25px;
    margin-top: 10px;
    font-size: 15px;
}

/* マウスを乗せた時 */
.retry-button:hover {
    background-color: #9dd5ed;
}